<template name="home">
    <div class="page home">

        {{>nav title='Local Market' black=true}}

        <div class="content-scrollable">
          <div class="bg-image home">
            <h1 class="title-home">
              <img src="img/app/logo-local.svg" alt="Local Market"/>
            </h1>
            <span class="arrow"></span>
          </div>

          <div class="callout-news">
            <span class="title-callout">News</span>
            {{latestNews.text}}
          </div>
        </div>

    </div>
</template>