/* Set a size for our map container, the Google Map will take up 100% of this container */

html,
body {
    width: 100%;
    height: 100%;
    /* 	overflow: hidden; */
}

#map {
    position: fixed !important;
    width: 100%;
    height: 300px;
}

.map-container {
    overflow: hidden !important;
}

.title2 {
    padding-left: 15px;
}

.big {
    padding-top: 10px;
}

.title {
    text-align: center;
    font-weight: 600;
}

.action {
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
    padding: 5px;
}

.i {
    padding: 5px;
}

.a {
    //    float: left;
    //    margin: 50px;
    display: inline-flex;
}

.b {
    padding-left: 10px;
    display: block;
}

.c {
    //    float: clear;
    clear: both;
}


/* End defaults*/