<template name="newListing">
  <div class="page about">
  {{> nav title='New Listing' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>

      <h2 class="list-title">Post New Listing</h2>

      <form>
        <div class="input-symbol">
          <span>Title: </span>
          <input name="title" placeholder="" />
        </div>

        <div class="input-symbol ">
          <span>Description: </span>
          <input name="description" placeholder="" />
        </div>

        <div class="input-symbol">
          <span>Location Lat: </span>
          <input name="lat" placeholder="" />
        </div>

        <div class="input-symbol">
          <span>Location lon: </span>
          <input name="lon" placeholder="" />
        </div>

        <div class="input-symbol">
          <span>Images: </span>
          <input name="images" placeholder="" />
        </div>

        <div class="input-symbol">
          <span>Category: </span>
          <input name="category" placeholder="" />
        </div>

        <div class="input-symbol">
          <span>Price: </span>
          <input name="price" placeholder="" />
        </div>

        <button type="submit" class="btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>