<template name="newListing">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <div class="page about">
        {{> nav title='New Post' black=true}}

        <div class="content-scrollable">
            <div class="bg-image about">
                <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
            </div>
      <form>
	      <div class="form-group">
		    <label for="InputTitle">Title</label>
		    <input type="text" class="form-control" id="InputTitle" placeholder="iPhone 5S BNIB">
		  </div>
		  
		  <div class="form-group">
		    <label for="InputDescription">Description</label>
		    <textarea class="form-control" rows="3" placeholder="Description" id="InputDescription"></textarea>
		  </div>
		  
		  <div class="form-group">
		    <label for="InputLat">Location Lat</label>
		    <input type="text" class="form-control" id="InputLat" placeholder="43.4667">
		  </div>
		  
		  <div class="form-group">
		    <label for="InputLon">Location Lon</label>
		    <input type="text" class="form-control" id="InputLon" placeholder="80.5167">
		  </div>
		  
		  <div class="form-group">
		    <label for="ImageUpload">Image Upload</label>
		    <input type="file" id="ImageUpload">
		    <p class="help-block">Showcase your product with .jpg or .png files!</p>
		  </div>
		  
			<div class="form-group">
			  <label for="CatSelect">Category</label> 
			  <select class="form-control" id="CatSelect">
				  <option>Books</option>
				  <option>Clothing</option>
				  <option>Electronics</option>
				  <option>Food</option>
				  <option>Furniture</option>
				  <option>Tools</option>
			  </select>
			</div>
			
			<div class="form-group">
		    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
		    <div class="input-group">
		      <div class="input-group-addon">$</div>
		      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
		      <div class="input-group-addon">.00</div>
		    </div>
		  </div>	  
	  
		</form>
    </div>
    <a href="/iphone" type="submit" class="btn-primary">Submit</a>
  </div>
</template>