<template name="profile">
  <div class="page about">
    {{> nav title='Profile' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      {{#if currentUser}}
          {{currentUser.services.facebook.name}} -
          {{currentUser.services.facebook.gender}}
          <button id="logout">Logout</button>
      {{else}}
          <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>
      {{/if}}
    
      <!-- <div class="description-about">
        <p>Be a local wherever you go. Connect to Local Market’s community to get the latest news, hand-picked recipes, and share with other locals. This season's recipes were chosen by San Francisco chefs Colin Kull of <a href="http://www.rangesf.com/" target="_blank" class="js-open">Range</a>, Laurie Ellen Pellicano of <a href="http://www.tartinebakery.com/" target="_blank" class="js-open">Tartine Bakery</a>, and Ren Rossini of <a href="http://www.fattedcalf.com/"  target="_blank" class="js-open">Fatted Calf</a>.</p>

        <p>Local Market was made by <a href="http://percolatestudio.com" target="_blank" class="js-open">Percolate Studio</a> as an example of a cross platform mobile app built in <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. The entire app is less than 1,000 lines of JavaScript. View the source on <a href="https://github.com/meteor/meteor/tree/devel/examples/localmarket" target="_blank" class="js-open">GitHub</a>.</p>
      </div> -->

    </div>
      {{#if currentUser}}
          <button id="logout" class="btn-primary" target="_blank">Logout</button>
      {{else}}
          <button id="facebook-login" class="btn-primary" target="_blank">Sign In With Facebook</button>
      {{/if}}
    
  </div>
</template>